env.local
venv/
venv
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
coverage
html
report/
pytest_cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.sqlite3
*.db
instance/
*.env
*.pot
*.mo
*.log
