env.local
venv/
venv
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
coverage
html
report/
pytest_cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.sqlite3
*.db
instance/
*.env
*.pot
*.mo
*.log
node_modules/
dist/
build/
*.egg-info/
.cache/
.pyre/
celerybeat-schedule
*.cover
*.pid
*.seed
*.pid.lock
.coverage
.coverage.*
.tox/
orders-server/node_modules/
orders-server/dist/
orders-server/build/
orders-server/.env
orders-server/.venv/
orders-server/.pytest_cache/
orders-server/.mypy_cache/
orders-server/.pyre/
orders-server/package-lock.json
orders-server/yarn.lock
orders-server/.cache/
orders-server/package.json/
